" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

let mapleader=" "
"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
set clipboard=unnamedplus
set hlsearch
set rnu

" Do incremental searching.
set incsearch
set ignorecase

map <leader>rnu :set relativenumber!<return><esc>
map <ESC> :noh <return><esc>
" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
" Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t

" Debugging
" Run / Debug app
map <leader>da <Action>(Debug)
map <leader>ra <Action>(Run)
" Run / debug tests
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>rt <Action>(RiderUnitTestRunContextAction)
map <leader>dt <Action>(RiderUnitTestDebugContextAction)
" Stop / resume running
map <leader>' <Action>(Stop)
map <leader>; <Action>(Resume)
map <leader>. <Action>(StepInto)
map <leader>, <Action>(StepOver)

" Navigation
map <leader>ff <Action>(GotoFile)
map <leader>fi <Action>(FindInPath)

map <leader>re <Action>(ReformatCode)
map gd <Action>(GotoDeclaration)
map go <Action>(GotoSuperMethod)
map gi <Action>(GotoImplementation)
map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)
map g] <Action>(ReSharperGotoNextErrorInSolution)
map g[ <Action>(ReSharperGotoPrevErrorInSolution)
map gh <Action>(ShowHoverInfo)
map <leader>rn <Action>(RenameElement)
map <leader>= <Action>(ExpandRegion)
map <leader>- <Action>(CollapseRegion)
map <C-h> <C-w>h
map <C-l> <C-w>l
map <C-p> <Action>(PreviousTab)
map <C-n> <Action>(NextTab)
map gc <Action>(CommentByLineComment)
map <c-s> <Action>(FileStructurePopup)
